:root {
  --footer-height: 80px;
}

.book-footer {
  height: var(--footer-height);
  padding: 25px 30px;
  background-color: var(--base-color);
}

.powered-by {
  display: inline-block;
  vertical-align: top;
  width: 112px;
  height: 30px;
  font-size: 0;
  transform: var(--summary-transform-hide);
  transition: var(--summary-toggle-transition);
}

.with-summary .powered-by {
  transform: var(--summary-transform-show);
}