{% macro button(href, rel, label, class, icon) %}
  <a href="{{ href }}" rel="{{ rel }}"
    title="{{ label }}" aria-label="{{ label }}"
    {% if class %}class="{{ class }}"{% endif %}
    {% if not href %}onclick="return false"{% endif %}>
    <span class="button-inner">
      <object type="image/svg+xml" data="{{ staticBase }}/plugins/gitbook-plugin-zambezi-docs/images/icon-{{ icon or rel }}.svg">
        {{ label }}
      </object>
    </span>
  </a>
{% endmacro %}

<header class="book-header stack" role="navigation">
  {{ button
    ( rel='summary'
    , label=__('SUMMARY_TOGGLE')
    , class='summary-toggle panel'
    , staticBase=staticBase
    )
  }}
  
  <div class="book-header-tools panel">
    {% if options.github %}
      {{ button
        ( href=['https://github.com', options.github.user, options.github.repo, 'edit', options.github.branch, progress.current.path]|join('/')
        , rel='edit'
        , label='Edit this page!'
        , staticBase=staticBase
        )
      }}
    {% endif %}

    {% if glossary.length > 0 %}
      {{ button
        ( href=basePath + '/GLOSSARY.html'
        , rel='glossary'
        , label=__('GLOSSARY_OPEN')
        , staticBase=staticBase
        )
      }}
    {% endif %}
  </div>
</header>
