<header class="book-header stack" role="navigation">
  <a href="#" 
    rel="summary"
    class="summary-toggle panel"
    aria-label="{{ __("SUMMARY_TOGGLE") }}">{{ __("SUMMARY_TOGGLE") }}</a>
  
  <div class="book-header-tools panel">
    {% if options.github %}
    <a href="https://github.com/{{ options.github.user }}/{{ options.github.repo }}/edit/{{ options.github.branch }}/{{ progress.current.path }}"
      rel="edit" title="Edit this page!"
      aria-label="Edit page in GitHub">Edit this page!</a>
    {% endif %}

    {% if glossary.length > 0 %}
    <a href="{{ basePath }}/GLOSSARY.html" 
      rel="glossary"
      aria-label="{{ __("GLOSSARY_OPEN") }}">{{ __("GLOSSARY_OPEN") }}</a>
    {% endif %}

    <a href="#" 
      rel="search"
      class="search-toggle"
      aria-label="{{ __("SEARCH_TOGGLE") }}">{{ __("SEARCH_TOGGLE") }}</a>
  </div>
</header>
